<ion-header>
  <ion-toolbar>
    <ion-title>
      Recording
    </ion-title>
  </ion-toolbar>
</ion-header>
<form
  id="gSearch"
  method="GET"
  #gSearch
  action="https://google.com/search?q=searchphrase"
>
  <div id="voicesearch">
    <input #searchKey name="q" type="hidden" />
    <button (click)="voiceSearch()" primary large>
      <ion-icon name="md-play"></ion-icon>
    </button>
    <button (click)="voiceStop()" primary large>
      <ion-icon name="md-pause"></ion-icon>
    </button>
  </div>
</form>
