ion-icon {
  font-size: 40px; //Preferred size here
}

.logo {
  padding-top: 20%;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 10%;
  right: 0;
}

.redButton {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #ff6961;
  color: white;
}

.blueButton {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #D53889;
  color: white;
}
